@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div[data-testid="container"] {
  height: 75vh !important;
}

div[data-testid="container"] img+div {
  cursor: -webkit-grab;
}

div[data-testid="container"] img {
  height: 100% !important;
}

.react-responsive-modal-modal {
  width: calc(100% - 2.4rem);
  padding-top: 60px !important;
  max-width: 600px !important;
}